*.so
*.a
*.o
*.lo
*.la
*~
Makefile.in
aclocal.m4
autom4te.cache/
configure
config.status
config.log
Makefile
libtool
build-aux/
.deps/
.libs/
src/main
test/check_rootdb
test/check_rootdb.log
test/check_rootdb.trs
test/test-suite.log
test/testingdb/
